Repository xcosmosbox/wechaty-PaimonBot, changes with the owners that CODEOWNERS names for each.
All owners: @lijiarui, @mukaiu, @xjchengo, @binsee, @xinbenlv, @hczhcz, @cherry-geqi, @zhenyong, @xcosmosbox

update
  .DS_Store
  .gitignore
  README.md
  dist/.DS_Store
  dist/examples/demo.d.ts
  dist/examples/demo.d.ts.map
  dist/examples/demo.js
  dist/examples/demo.js.map
  docs/.DS_Store
  docs/images/puppeteer-logo.png
  docs/images/wechaty-puppet-wechat.png
  examples/demo.ts
  examples/package.json
  tests/.DS_Store
Owners: @lijiarui

update
  README.md
Owners: none

update
  .DS_Store
  PyMode/.DS_Store
Owners: @xcosmosbox

Update installation guide
  README.md
Owners: none

errorimage
  Image/errorImage01.png
Owners: none

添加了批注以及新的忽略文件
  .gitignore
  src/PaimonBot.ts
Owners: @xcosmosbox

增加了PyMode模块的requirements文件
  PyMode/WeatherCrawlMode/src/requirements.txt
Owners: @xcosmosbox

update
  README.md
Owners: none

update
  .gitignore
Owners: none

update
  README.md
Owners: none

.DS_Store
  .DS_Store
  PyMode/.DS_Store
  PyMode/WeatherCrawlMode/.DS_Store
Owners: @xcosmosbox

1.0.2
  package.json
Owners: none

update
  README.md
Owners: none

update
  README.md
Owners: none

update
  src/PaimonBot.ts
Owners: @xcosmosbox

update
  README.md
Owners: none

update
  README.md
Owners: none

update
  README.md
Owners: none

update
  .gitignore
  README.md
Owners: none

upda
  .DS_Store
  PyMode/.DS_Store
Owners: @xcosmosbox

update
  README.md
Owners: none

update
  .DS_Store
  PyMode/.DS_Store
  PyMode/WeatherCrawlMode/.DS_Store
Owners: @xcosmosbox

update
  README.md
Owners: none

1.0.3
  package.json
Owners: none

进行了更加模块化的处理，降低了使用者的门槛
  src/onMessage.ts
Owners: none

update
  README.md
Owners: none

存放用户姓名和关注是私聊与群聊的json
  json/friendAndRoomInfo.json
Owners: none

存放了问答的json
  json/QA.json
Owners: none

抽离出了onMessage模块
  src/PaimonBot.ts
Owners: @xcosmosbox

update
  .DS_Store
Owners: none

对onMessage模块进行更新
  src/onMessage.js
  src/onMessage.ts
Owners: none

update
  src/PaimonBot.js
  src/wechat-puppet-wechat.memory-card.json
Owners: @xcosmosbox

update
  README.md
Owners: none

为爬虫更新了多线程
  PyMode/WeatherCrawlMode/src/main.py
Owners: @xcosmosbox

updat
  PyMode/WeatherCrawlMode/src/__pycache__/weather_crawler.cpython-38.pyc
  PyMode/WeatherCrawlMode/src/weather_crawler.py
Owners: @xcosmosbox

修复了bug
  src/onMessage.js
  src/onMessage.ts
Owners: none

包含了所有城市的一个表单
  PyMode/WeatherCrawlMode/out/cityNumber.json
Owners: @xcosmosbox

update
  .DS_Store
  Image/WechatIMG146.png
  Image/WechatIMG147.jpeg
  Image/WechatIMG148.jpeg
  Image/WechatIMG149.jpeg
  Image/WechatIMG150.jpeg
  Image/WechatIMG151.jpeg
  Image/截屏2021-08-06 下午3.59.00.png
  Image/截屏2021-08-06 下午4.01.49.png
  Image/截屏2021-08-06 下午4.03.12.png
  Image/截屏2021-08-06 下午4.06.03.png
  PyMode/.DS_Store
  PyMode/WeatherCrawlMode/.DS_Store
  README.md
  json/friendAndRoomInfo.json
  src/onMessage.js
  src/wechat-puppet-wechat.memory-card.json
Owners: @xcosmosbox

2.0.0
  package.json
Owners: none

update
  README.md
Owners: none

CODEOWNERS:

#
# https://help.github.com/articles/about-codeowners/
#

/docs/                @lijiarui
/src/bridge.*.ts      @mukaiu @xjchengo
/src/event.ts         @binsee
/src/firer.*.ts       @xinbenlv
/src/wechaty-bro.js   @binsee @mukaiu @hczhcz @cherry-geqi @zhenyong
/src/PaimonBot.ts     @xcosmosbox
/src/PaimonBot.js     @xcosmosbox
/PyMode/              @xcosmosbox
